.active-menu {
    border-bottom: #fff solid 2px;
}

.row-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.col-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-content-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 3em;
    text-align: center;
    justify-items: center
}

.col-content-3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 3em;
    text-align: center;
    justify-items: center
}

.cards.carousel>img {
    width: min(100vw, 200px);
    height: min(100vh, 250px);
    object-fit: cover;
    border-radius: 5px;
}

.overlay {
    backdrop-filter:brightness(40%);
    width: 100%;
    height: max(100vh, 300px);
    position: absolute;
}

.container {
    width: min(95%, 768px);
    margin: 0 auto;
}

.container-2 {
    width: min(95%, 1200px);
    margin: 0 auto;
}

.container-3 {
    width: min(95%, 1300px);
    margin: 0 auto;
}

.fs-1 {
    font-size: calc((2.8 - 1) * 1.3vmin + 1rem);
}

.fs-2 {
    font-size: calc((2.2 - 1) * 1.2vmin + 1rem);
    margin: 10px 0;
}

.fs-3{
    font-size: calc((1.8 - 1) * 1.2vmin + 1rem);
    margin: 10px 0;
}

.mar-1.sep > *{
    margin: 10px;
}

.bg-0{
    background-color: #c8a47e;

}

.sep-each > *{
    margin: 50px 0;
}

.center{
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.icons{
    display: inline;
    width: 16px;
    margin: 0 5px;
}

@media screen and (max-width: 768px) {
    .col-content.resp {
        justify-content: space-between;
        flex-direction: row;
    }

    .col-content-2.resp {
        grid-template-columns: repeat(1, 1fr);
    }

    .col-content-3 {
        grid-template-columns: repeat(1, 1fr);
    }
    .row-content.resp {
        flex-direction: column;
    }
}