.active-menu {
    border-bottom: #fff solid 2px;
}

.row-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.col-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-content-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 3em;
    text-align: center;
}

.col-content-3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 3em;
    text-align: center;
}

.cards.carousel>img {
    width: min(100vw, 200px);
    height: min(100vh, 250px);
    object-fit: cover;
    border-radius: 5px;
}

.overlay {
    backdrop-filter: blur(2px) sepia(.1) grayscale(10%) brightness(20%);
    width: 100%;
    height: max(100vh, 300px);
    position: absolute;
}

.container {
    width: min(100vw, 768px);
    margin: 0 auto;
}

.container-2 {
    width: min(100vw, 1200px);
    margin: 0 auto;
}

.container-3 {
    width: min(100vw, 1300px);
    margin: 0 auto;
}

.fs-1 {
    font-size: calc((2.8 - 1) * 1.2vmin + 1rem);
}

.fs-2 {
    font-size: calc((2.2 - 1) * 1.2vmin + 1rem);
    margin: 10px 0;
}



@media screen and (max-width: 768px) {
    .col-content.resp {
        justify-content: space-between;
        flex-direction: row;
    }

    .col-content-2.resp {
        grid-template-columns: repeat(1, 1fr);
    }

    .col-content-3 {
        grid-template-columns: repeat(1, 1fr);
    }

}
