@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Lato&family=Montserrat+Alternates:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    /* text-decoration: none; */
    font-size: 20px;
}



html,
body {
    height: 100%;
    max-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

body::-webkit-scrollbar-track {
    background-color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat Alternates', sans-serif; */

}

a {
    color: #fff;
    /* font-family: 'Lato', sans-serif; */

}

/* p{
    font-family: 'Lato', sans-serif;
} */

#topnav {
    background: rgba(0, 0, 0, 0);
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: all 0.3s ease;
}

#topnav.scrolled {
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contain {
    padding: 10px 40px;
    margin: 0 auto;
    position: relative;
}

.logo>a>img {
    width: 150px;
}

#menu {
    display: flex;
    list-style: none;
    width: max(50vw, 500px);
    box-sizing: content-box;

}

#menu>li {
    margin: 10px;
    padding: 10px;
}

#menu>li>a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

#menu>li>a:hover {
    color: #666;
}

#toggleNav {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 2;
}

#toggleNav>span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 30px;
    background: #fff;
}


/* header */
header {
    background: url('/assets/images/bg/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: max(100%, 300px);
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
}

header>div>.content {
    height: max(100vh, 300px);
    text-align: center;
    color: rgb(223, 223, 224);
    font-size: min(5vmin, 40px);
    padding: 20px;
}

header .title {
    font-size: min(10vmin, 80px);
}

main {
    text-align: center;
    overflow: hidden;
    background-color: #c8a47e;
}

section {
    color: #fff;
    text-align: center;
    color: #000;
}

section>div>h2 {
    text-align: center;
    padding: 30px;
}

/* gallery */
.gallery-section {
    background-image: url('/assets/images/bg/cork-board.png');
    background-size: 100px;
    background-repeat: repeat;
    text-align: center;
}

.gallery-slider {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.gallery-slider.open {
    display: flex;
}

.gallery-slider .galleryimg {
    width: 90vmin;
    height: 90vmin;
    position: absolute;
    z-index: 100;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    display: none;
}

.gallery-slider button {
    position: absolute;
    z-index: 100;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.gallery-slider button svg {
    fill: #aaa;
    transition: all 0.3s ease;
}

.gallery-slider button svg:hover {
    fill: #fff;
}


.nav-button.prev {
    left: 10px;
}

.nav-button.next {
    right: 10px;
}

.gallery-slider .galleryimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-slider .galleryimg.active {
    display: flex;
}

.gallery-slider button.exit {
    top: 10px;
    right: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
} */


.gallery div {
    border: 10px solid #272727;
    margin: 20px;
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery div img.clicked {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    cursor: pointer;
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0;
    display: block;
}

/* maps */
.location-section {
    background-image: url('/assets/images/bg/fabric_1.png');
    background-size: 20px;
    background-repeat: repeat;
    text-align: center;
}


.business-info * {
    text-align: left;
    width: 100%;
}

.business-info>div {
    margin: 10px;
}

.business-info>div>ul {
    padding: 0 20px;
}

/* about section */
.about-section {
    background-image: url('/assets/images/bg/fabric_1.png');
    background-size: 20px;
    background-repeat: repeat;
    text-align: justify;
    padding: 50px;
}

/* haircut */
.haircut-section {
    background-image: url('/assets/images/bg/cork-board.png');
    background-size: 100px;
    background-repeat: repeat;
    text-align: center;
    position: relative;
}

.haircut-section .price {
    font: 1em sans-serif;
}

.haircut-section>div>div {
    padding: 30px 0;
}

.haircut-section>div>div>div {
    margin: 10px;
}

.haircut-section img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

/* FOOTER */
footer {
    /* background-image: url('/assets/images/bg/tactile_noise.png'); */
    background-color: #000;
    color: #fff;
    text-align: center;
}

footer>div {
    padding: 60px 30px;
}

footer>div>div {
    margin: 20px auto;
}

footer>div>div>a>img {
    width: min(200px, 100%);
    margin: 0 auto;
    display: block;
}

.logo.fb {
    margin: 30px auto;
}

.logo.fb>a>svg>path {
    fill: #fff;
}

@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }

    #topnav>div>ul {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 1);
        width: 100%;
        height: 100vh;
        overflow: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: max(1.5rem, 5vmin);
        transition: all 0.3s ease;
    }

    #topnav>div>ul>li {
        margin: 20px;
    }

    #topnav>div>ul.open {
        left: 0;
    }

    #toggleNav {
        display: block;
    }

    #toggleNav span {
        transform: rotate(0deg) translate(0px, 0px);
        opacity: 1;
        transition: all 0.3s ease;
    }

    #toggleNav.open>span:nth-child(1) {
        transform: rotate(45deg) translate(4px, 5px);
    }

    #toggleNav.open>span:nth-child(2) {
        opacity: 0;
    }

    #toggleNav.open>span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
    }

    .cards h3,
    .cards p {
        max-height: 500px;
        overflow: hidden;
        transition: max-height 1s ease;
    }

    .nav-button.next, .nav-button.prev {
        bottom: 10px;
    }
}

/* For 2 columns, viewport should be at least 540px */
@media (min-width: 660px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For 3 columns, viewport should be at least 810px */
@media (min-width: 930px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For 4 columns, viewport should be at least 1080px */
@media (min-width: 1240px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}